@media (min-width: 1023px) {
	/* главный родитель двух блоков, отец-flex */
	.wrapper-content-internal {
		margin-left: auto;
		margin-right: auto;
		border: 1px solid rgb(190, 190, 190);
		border-bottom: 0;
		width: 1000px;
		min-height: 100px;
		margin-top: 10%;
		margin-bottom: 10%;
		display: flex;
		position: relative;
	}

	/* блок с основным контентом сайта */
	main {
		width: 700px;
		min-height: 100px;
		background-color: rgba(249, 249, 249, 1);
		padding-top: 100px;
		padding-left: 25px;
	}

	.mini-info hr {
		border: none; /* Убираем границу для браузера Firefox */
		color: rgba(255, 147, 30, 1); /* Цвет линии для остальных браузеров */
		background-color: rgba(255, 147, 30, 1); /* Цвет линии для браузера Firefox и Opera */
		height: 2px; /* Толщина линии */
		width: 90%;
		margin-top: 10px;
		margin-bottom: 60px;
	}

	.mini-info {
		border-left: 4px solid rgba(255, 147, 30, 1);
		padding-left: 5px;
		padding-bottom: 30px;
	}

	.mini-info h2 {
		font-family: "Ubuntu", sans-serif;
		font-weight: bold;
		font-size: 30px;
		padding-top: 40px;
	}

	.mini-info h3 {
		font-family: "Ubuntu", sans-serif;
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 20px;
	}

	.mini-info p {
		font-family: "Ubuntu", sans-serif;
		font-weight: normal;
		font-size: 16px;
	}

	.mini-info span {
		margin-top: 5px;
		display: block;
	}

	.mini-info a {
		color: rgba(255, 147, 30, 1);
	}

	.mini-info a:hover {
		background-color: rgba(255, 147, 30, 1);
		color: rgba(255, 255, 255, 1);
	}

	blockquote {
		margin-top: 65px;
		width: 95%;
		height: 115px;
		border-radius: 20px;
		background: linear-gradient(135deg, rgb(190, 190, 190) 50%, rgba(255, 175, 60, 1) 50%);
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: normal;
		padding-left: 25px;
		padding-right: 25px;
		position: relative;
	}

	blockquote p {
		font-family: "Ubuntu", sans-serif;
		color: rgba(255, 255, 255, 1);
		font-size: 16px;
	}

	blockquote p:before {
		content: "\201C";
		font-size: 50px;
		color: rgba(255, 175, 60, 1);
		font-family: "Ubuntu", sans-serif;
		position: absolute;
		top: 10%;
		left: 5%;
		transform: translateX(-50%);
	}

	blockquote p::after {
		content: "\201C";
		font-size: 50px;
		color: rgb(190, 190, 190);
		font-family: "Ubuntu", sans-serif;
		position: absolute;
		bottom: -15%;
		right: 4%;
		transform: translateX(-50%);
	}

	blockquote cite {
		font-style: normal;
	}

	.social-links {
		margin-top: 55px;
	}

	.social-links li {
		display: inline-block;
	}

	.social-links img {
		width: 125px;
		border-radius: 50%;
	}

	.social-links img:hover {
		border: 5px solid rgba(255, 147, 30, 1);
	}
	/* блок с основным контентом сайта */

	/* стили резюме */
	.summary-image {
		float: left;
		margin-right: 20px;
		width: 200px;
		height: 504px;
	}

	/* .summary-image:hover {
		transform: translate3d(100px, 210px, 0px) scale(2, 2);
	} */

	/* .summary-image:hover + .summary-popap {
		display: block;
	} */

	.summary-popap {
		width: 320px;
		height: 760px;
		border: 5px solid rgba(255, 147, 30, 1);
		background-color: rgba(217, 217, 217, 1);
		position: absolute;
		top: 0.1%;
		left: 10%;
		z-index: 1;
		display: none;
	}

	.summary-close {
		position: absolute;
		right: 0.5%;
		top: 0;
	}

	.summary-close div {
		font-size: 16px;
		font-family: "Ubuntu", sans-serif;
		font-weight: bold;
		color: #fff;
		background-color: red;
	}

	.summary-image-full {
		width: 286px;
		position: absolute;
		left: -285px;
		top: 15px;
	}

	main.summary h2 {
		font-family: "Ubuntu", sans-serif;
		font-weight: bold;
		font-size: 24px;
		text-align: center;
	}

	.summary-content {
		margin-top: 30px;
		font-family: "Ubuntu", sans-serif;
		font-weight: normal;
		font-size: 14px;
		line-height: 18px;
		text-align: justify;
		width: 97%;
		margin-bottom: 25px;
	}

	.summary-decoration {
		float: left;
		background-color: rgba(255, 147, 30, 1);
		width: 3px;
		height: 504px;
		margin-right: 20px;
	}

	main.summary hr.hr-one {
		border: none; /* Убираем границу для браузера Firefox */
		color: rgba(255, 147, 30, 1); /* Цвет линии для остальных браузеров */
		background-color: rgba(255, 147, 30, 1); /* Цвет линии для браузера Firefox и Opera */
		height: 2px; /* Толщина линии */
		width: 62.7%;
		margin-top: 10px;
		margin-bottom: 60px;
	}

	main.summary hr.hr-right-end {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	main.summary hr.hr-two {
		border: none; /* Убираем границу для браузера Firefox */
		color: rgba(255, 147, 30, 1); /* Цвет линии для остальных браузеров */
		background-color: rgba(255, 147, 30, 1); /* Цвет линии для браузера Firefox и Opera */
		height: 2px; /* Толщина линии */
		width: 100%;
		margin-top: 10px;
		margin-bottom: 60px;
	}

	.summary-content a {
		color: rgba(255, 147, 30, 1);
	}

	.summary-content a:hover {
		background-color: rgba(255, 147, 30, 1);
		color: rgba(255, 255, 255, 1);
	}
	/* стили резюме */

	/* стили интересы */
	main.interests ul {
		margin-bottom: 25px;
	}

	main.interests ul li {
		display: block;
	}

	main.interests ul li:not(:first-child) {
		margin-top: 10px;
	}

	.interests-item {
		width: 96%;
		display: flex;
		border-bottom: 3px solid rgba(255, 147, 30, 1);
		padding-bottom: 10px;
	}

	.interests-img {
		width: 130px;
		height: 120px;

		padding-right: 10px;
		border-right: 1px solid rgba(255, 147, 30, 1);
	}

	.interests-desc {
		padding-left: 15px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border-left: 2px solid rgba(255, 147, 30, 1);
	}

	.interests-desc h2 {
		font-family: "Ubuntu", sans-serif;
		font-weight: bold;
		font-size: 20px;
	}

	.interests-desc p {
		font-family: "Ubuntu", sans-serif;
		font-weight: normal;
		font-size: 16px;
		text-align: justify;
	}

	.interests-desc a {
		color: rgba(255, 147, 30, 1);
	}

	.interests-desc a:hover {
		background-color: rgba(255, 147, 30, 1);
		color: rgba(255, 255, 255, 1);
	}
	/* стили интересы */

	/* боковой блок, с фотографией, именем, навигацией */
	aside {
		width: 300px;
		min-height: 100px;
		background-color: rgba(255, 147, 30, 1);
		padding-top: 100px;
	}

	.header-decoration-block {
		background-color: rgba(217, 217, 217, 1);
		width: 973px;
		height: 40px;
		position: absolute;
		top: 25px;
		left: 25px;
	}

	.block-photo {
		width: 100%;
		height: 250px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.img-avatar {
		width: 200px;
		height: 206px;
		border-radius: 50%;
	}

	.profile-name-description {
		text-align: center;
		color: rgba(255, 255, 255, 1);
	}

	.profile-name-description h1 {
		font-family: "Ubuntu", sans-serif;
		font-weight: bold;
		font-size: 34px;
	}

	.profile-name-description p {
		font-family: "Ubuntu", sans-serif;
		font-weight: normal;
		font-size: 16px;
		margin-top: 10px;
	}

	aside nav {
		margin-top: 25px;
	}

	aside nav li {
		border-bottom: 1px solid rgba(255, 255, 255, 1);
	}

	aside nav li:last-child {
		border-bottom: none;
	}

	aside nav a {
		font-family: "Ubuntu", sans-serif;
		font-weight: normal;
		font-size: 16px;
		display: block;
		width: 300px;
		height: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: rgba(255, 255, 255, 1);
		text-transform: uppercase;
	}

	aside nav a:hover {
		background-color: rgba(249, 249, 249, 1);
		color: rgba(0, 0, 0, 1);
	}

	aside nav a:active {
		background-color: rgba(255, 175, 60, 1);
		color: rgba(0, 0, 0, 1);
	}

	aside nav a.current-page {
		background-color: rgba(249, 249, 249, 1);
		color: rgba(0, 0, 0, 1);
		pointer-events: none;
	}
	/* боковой блок, с фотографией, именем, навигацией */
}
